pytorch-lightning
lightning-transformers
lightning-grid
lightning-bolts
lightning-flash
torchvision
torchaudio
torchtext
datasets
plotly
sympy
black
mypy
pytest
ipywidgets
git+https://github.com/JustinGoheen/material-sphinx.git